*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;
}


.btn{
    background-color: #469165;
    color:white;
    text-align: center;
    border:none;
    outline: none;
    padding:12px 16px;
    border-radius: 4px;
    font-weight: 600;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px;
}

nav .logo{
    width: 139px;
    height:60px;
}

nav ul{
    display:flex;
    list-style:none;
    gap: 32px;
}


.hero-section{
    padding:35px 120px 134px 120px;
    background-image: url("assets/hero-bg.png");
}

.hero-content{
    width:1260px;
    margin:0 auto;
    text-align:center;
    padding:16px 253px
}


.text-content .button{
    border-radius:1000px;
    padding:8px 12px;
    color:#30b868;
    font-weight:500;
    border:none;
    display:flex;
    align-items: center;
    gap: 6px;
    margin:0 auto;
}




.text-content .button .circle{
    width: 10px;
    height:10px;
    background-color:#469165 ;
    border-radius:8px;
    border: 3px solid #90c190;
    box-shadow: 0 0 0 3px #bcd5bc;
}

.text-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    font-style: bold;
    color:#ffffff;
}

.text-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
    color:#ffffff;
}

.hero-btn{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:6px;
}

.hero-btn .button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.hero-btn .play-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border:1px solid #ffffff;
}

.hero-btn .play-btn .material-symbols-outlined{
    font-size:19px;
}


#section .section-container{
    margin:0 120px;
    text-align:center;

}

.header-container h1{
    padding-top:70px;
}

.header-container p{
    padding-top:16px;
    color: #627382;

}

.card-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:24px;
}


.card-container .card{
    width:322px;
    height:300px;
    box-shadow: 0 0 8px 1px #dddedd;
    margin-top: 44px;
    padding:24px;
}

.card-container .card img{
    background-color: #f95555;
    border-radius: 50%;
    padding:10px;
    margin-top: 50px;
    width:60px;
    height:60px;

}

.card-container .card h3{
    padding:16px 0;
}

.card-container .card p{
    padding:0 5px 20px 5px;
}


#solution{ border:1px solid black;
}

#solution  .solution-container{border:1px solid black;
    margin:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}

.image-container img{
    border-radius: 12px;
}

.text-container h4{
    font-size:16px;
    margin-bottom: 16px;
    color: #30b868;
    font-weight: 500;
}

.text-container h1{
    font-size: 38px;
    font-weight: bold;
    color: #001931;
}

.text-container p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}

.text-container ul{
    margin-top:40px;
    list-style: url("assets/CheckCircle.png");
}


.text-container ul li{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}